@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
body {
  font-family: "Roboto Slab", serif;
  margin: 0px;
  padding: 0px;
  background: #ffff;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.title {
  font-size: 20px;
  padding-left: 8.33%;
  width: 243px;
  height: 53px;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: black;
  margin-right: 50px;
}

.menu > ul {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-part {
  width: 585px;
  height: 270px;
  padding-left: 8.33%;
}
.text-part h2 {
  font-size: 52px;
  font-weight: 700;
}
.click {
  width: 196px;
  height: 44px;
  padding: 10px 24px;
  background: #e02c6d;
  border-radius: 41px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: white;
  cursor: pointer;
}
.img-part img {
  width: 440px;
  height: 414px;
  margin-right: 100px;
  margin-top: 70px;
}

.main-part h2 {
  position: relative;
  padding-left: 40%;
  margin-top: 10%;
  width: 262px;
  height: 40px;
  font-weight: 600;
}

.card-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2px;
  padding-left: 10.33%;
  padding-right: 8.5%;
}

.single-card {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 10px 5px 20px whitesmoke;
  border-image-slice: 30%;
}
.single-card img {
  width: 300px;
  height: 256px;
  background-size: cover;
}
.name h3,
h4,
h6 {
  margin-top: 0;
  padding-top: 0px;
  margin-bottom: 0px;
}
.name h6 {
  position: relative;
  bottom: 20px;
}
.fa-star.fill {
  color: #ffb319 !important;
}
.fa-star.empty {
  color: #aeaeae;
}
.rating {
  display: flex;
  justify-content: flex-start;
}
.num {
  position: relative;
  left: 5px;
  bottom: 15px;
}
.more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e02c6d;
  font-weight: 600;
  font-size: 16px;
}
.more p {
  position: relative;
  right: 5px;
  bottom: 2px;
}
